h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
  }
  
.container {
  overflow-x: hidden;
  grid-row: 2;
  grid-column: 2;
  }
  
.wrapper {
    position: relative;
  }
  
.carousel {
    display: flex;
    gap: 32px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
.carousel::-webkit-scrollbar {
    display: none;
  }
  
.left,
.right {
    font-family: inherit;
    font-size: 32px;
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
  }
  
.left:hover,
.right:hover {
    background-color: #fff;
  }
  
.left {
    left: 20px;
  }
  
.right {
    right: 20px;
  }
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }